@media screen and (min-width: 430px) and (max-width: 932px) {
  .item {
    position: relative;
  }
  .item img {
    border-radius: 5px;
  }
  .service-card .btn {
    border-radius: 5px;
    padding: 12px 25px; /* Ajustado para melhor proporção */
    position: absolute;
    right: 0;
    bottom: 20px; /* Ajustado para melhor alinhamento */
    width: 220px; /* Ajustado para melhor proporção */
    max-width: 250px; /* Ajustado para melhor proporção */
  }
  .blog h2 {
    font-size: 2.5rem; /* Ajustado para melhor proporção */
  }
  .blog .post {
    padding: 15px; /* Ajustado para melhor proporção */
  }
  .blog .post h2 {
    font-size: 1.4rem; /* Ajustado para melhor proporção */
  }
  .main-footer {
    padding: 2em 0; /* Ajustado para melhor proporção */
  }
  .footer-logo img {
    width: 180px; /* Ajustado para melhor proporção */
  }
  .map-container {
    height: 200px; /* Ajustado para melhor proporção */
  }
  .service-icon {
    width: 250px; /* Ajustado para melhor proporção */
    height: 250px; /* Ajustado para melhor proporção */
  }
  .service-icon img {
    width: 180px; /* Ajustado para melhor proporção */
    height: 170px; /* Ajustado para melhor proporção */
  }
}
